@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<br />
<br />
<br />
<br />
<body>

    <div id="post-8" class="post-8 page type-page status-publish hentry">
        <h2 style="font-size: 70px;
            font-weight: 600;
            background-image: linear-gradient(to left, #805cff, #3f0975);
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;" align="center">
            Welcome to The Dental Clinic
        </h2>
        <p style="color: 	#696969; line-height: 1.3;">Our story began with a belief that we belong to nature so if we are a tree, our health and well being are the root, our happiness is the fruit and hope is how we water and nurture ourselves. We also believe that we all human beings, patients, doctors, nurses, helpers, etc. share the same blend of joy and pain in our life journey.</p>
        <p style="color: 	#696969; line-height: 1.3;">Our mission in The Clinic is to be the place that helps and serves everyone to take care of their body and mind. Our optimal dream is that every valued client lives a life that is hopeful, healthy and happy. To make that happen, we as a group of passionate and expert doctors teamed up to deliver on this dream.</p>
        <img src="~/img/2.jpg" align="left" hspace="19" alt="About-Image" width="520" height="275" />
        <p style="color: 	#696969; line-height: 1.7;">The Clinic was established in Katameya (New Cairo) to be one of the first and most prestigious medical care facilities service in the district. A full fledged facility that has different specialty clinics: Pediatrics, Obstetrics, Gynaecology, Ear, Nose, Throat, Orthopedics, Internal medicine, Urology, Obesity management (Nutrition, as well as advanced laparoscopic surgery), Plastic surgery and Beauty management (Skin care, Hair Removal and Plastic filling procedures). Our group of consultants were carefully selected to comprise only the best in Egypt and probably around the world. All our doctors are highly qualified with extensive internal and international training as well as friendly &amp; professional communication skills.</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img src="~/img/1.jpg" align="right" width="575" height="307" hspace="19" />
    <p style="color: 	#696969; line-height: 1.7;"> Our staff of nurses are very well trained to provide you with the ultimate care needed. The clinic is situated in the most advanced and elegant medical complex building in New Cairo (Health Care City &#8211; HCC). The whole basement floor is utilized by Misr Radiology Center where state of the art technologies and facilities are available (High resolution MRI, 3D U/S, Isotope scan, U/S mammography, MR Spectroscopy, spiral ct angiography, mammography and interventional radiology). The fourth floor is totally occupied by Queens Hospital (The hospital specialized in Obstetrics and Gynecology). Also available is Queens laboratory which has the most up to date investigation facilities for your convenience and well being. Health Care Center (HCC) as a building is equipped to provide the most comfortable, convenient and safe facilities for our patients. We are looking forward to both welcome you and impress you with our highly professional standard of care you would expect.</p>


</body>
</html>
